#LoginInput::placeholder {
  color: rgb(158, 158, 158);
}
body{
  background-color: #18191a;
}
input::placeholder{
  color: #bababa81;
}
textarea::placeholder{
  color: #bababa81;
}
#pDash{
  background-color: #18191a;
  color: #e1e1e1;
  border: #bababa81;
  padding: .6vw;
  border-radius: 8px;
}
#pDash:hover{
  background-color: #40404081;
  border: #18191a;
}
#buttonPost{
  background-color: #362855;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #e1e1e1;

}
#buttonPost:hover{
  background-color: #4e3d71;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #dbdbdb;
}
#buttonCat{
  background-color: #242526;
}
#buttonCat:hover{
  background-color: #2b2b2b;
  border: none;
}
/* if the images dont have a src are not visible */
#imgError:not([src]){
  display: none;
}
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#principal {
  width: 70%;
}
#sidebar {
  width: 30%;
}
#navBarIcons{
  width: 25vw;
  margin-right: 8vw;
}



@media screen and (max-width: 640px){
  #navBarIcons{
    width: 40vw;
    margin-right: 8vw;
  }
}
html {
  scroll-behavior: smooth;
  word-break: break-word;
  
}
::-webkit-scrollbar {
  display: none;
}
#cardText{
  white-space: pre-line;
}
